html {
	font-family: 'AkzidenzGroteskBQ-Reg', -apple-system, BlinkMacSystemFont,
	'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: var(--sand);
	height: 100%;
}
body {
	display: flex;
	min-height: 100%;
}
.universe {
	display: flex;
  flex-direction: column;
  flex: 1;
	min-height: 100%;
	width: 100%;
}
.shell {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
}
.arena {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.matchmaking {
	flex: 1 1 auto;
	padding: 9.25rem calc(0.5rem + 3vw) 3.25rem;
	.interior {
		position: relative;
		z-index: 1;
	}
}
.searching {
	background-color: var(--darkGray);
	color: var(--white);
	position: relative;
	transform: translateY(-50%);
	z-index: 2;
	.action {
		svg {
			height: 12px;
			width: 22px;
			path {
				fill: var(--white);
			}
		}
	}
	&:before {
		background-color: var(--blue);
		bottom: 0;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: transform 400ms;
		transform: scaleX(0);
		transform-origin: left;
		width: 100%;
		z-index: -1;
	}
	&--ready {
		&:before {
			background-color: var(--blue);
			bottom: 0;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: background-color 1000ms, transform 1000ms;
			transform: scaleX(1);
			transform-origin: left;
			width: 100%;
			z-index: -1;
		}
	}
	&.disabled {
		&:before {
			background-color: var(--lightGray);
		}
	}
	@media only all and (min-width: 20em) {
		bottom: 0;
		position: absolute;
		right: 0;
		transform: translateY(50%);
		width: calc(100% - 4.5rem - 3vw);
	}
}

.arena {
	padding-right: 1.5rem;
	position: relative;
	@media only all and (min-width: 20em) {
		margin-bottom: 4rem;
	}
}
